```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv*/
pyproject.toml
poetry.lock
*.egg-info/
.eggs/

# Logs
*.log
*.out

# Environment
.env
.env.local
.env.*
.ENV

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Build artifacts
build/
dist/
*.egg
*.whl
```